<!-- start custom head snippets -->
<!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B03MYQW1WN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B03MYQW1WN');
</script>

<script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"siteId":3895662,"cookiePolicyId":94958745,"lang":"en","storage":{"useSiteId":true},
                            "localConsentDomain":"cimiculka.github.io",};
    </script>
    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3895662.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->