---

---
@charset "utf-8";
$link-color: #000;
$background-color: rgb(246, 243, 235);

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive {
    font-size: $type-size-6;
    .archive__item-teaser {
      position: relative;
      @include breakpoint($small) {
        max-height: 100%;
      }
  
      @include breakpoint($medium) {
        max-height: 80%;
      }
    }
  }

  .masonry-container {
    column-count: 3;
    column-gap: 20px;
    border-radius: 8px;
    a {
      text-decoration: none;
    }

   }
   .masonry-item {
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 241, 224,0.7);
    img { 
      display:block;
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:hover{
      filter: brightness(85%);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    }
   }
   
   .masonry-headline {
    text-align:center;
    margin: 0px 5px 0px 5px;
    font-weight: bold;
    a:hover {
      text-decoration: none;
    }
    p {
      font-weight: normal;
    }
   }

   .blog__date {
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0px;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(249,249,245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color:  rgb(249,249,245);
    background-color: darkslategrey;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
   }

  #cv_container {
    margin: 0px 50px 0px 50px;
    img {
      margin: 5px 15px 15px 0px;
      width:125px;
      border-radius: 8px;
      float:left;
    }
  }

  #cv_text {
    font-size: $type-size-6;
  }

  #opioids-grid {
    column-count: 2;
    column-gap: 20px;
    border-radius: 8px;
    a {
      text-decoration: none;
    }
  }